.userList {
    margin: 15px 60px;
}

.default {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    width: 700px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.static {
    font-weight: bold;
}

.item {
    flex-basis: 25%;
}

.userId,
.action {
    flex-basis: 2%;
}

.action__btn {
    padding: 5px 7px;
    border-radius: 5px;
}

.action__delete {
    border: 1px solid #ccc !important;
    padding: 5px 7px !important; 
    border-radius: 5px;
}
